{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <div style="float:center">
    <form action="/deposit" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="depositAmount" type="text" placeholder="Deposit Amount ($)">
        </div>
    </div>
    <div style="float:center">
        <button class="btn btn-primary" type="submit">Deposit</button>
    </div>
    </form>
    <p>
        Deposit Successful! You deposited {{ depositAmount }} Your new cash balance is {{ cash }}.
    </p>
{% endblock %}