<!--This html file displays the homepage of my website-->
{% extends "basketballLayout.html" %}

{% block main %}
    <h1>Your Greatest Basketball Player of All Time</h1>
    <!--This div is for formatting, the specific formatting is specified in styles.css.-->
    <div id="format-text">
        <h2>Has the Most</h2>
    </div>

    <select id="stat">
        <!--A default option that tells the user the purpose of the form-->
      <option value="" selected="selected" disabled>Select a Statistic</option>
      <!--Uses jinja syntax to loop through the dict columns from application.py and makes them the options of the dropdown-->
      {% for row in columns %}
          <option>{{ row }}</option>
      {% endfor %}
    </select>
    <br><br>

    <div class="format-text">
        <!--A checkbox, for if the user wants to put in a condition-->
        <input type="checkbox" class="box1" id="checkbox1" onchange="changedValue()"> Condition 1
        <br>
        <h2>Where...</h2>
        <select id="condition1">
            <option value="" selected="selected" disabled> Select a Statistic </option>
            {% for row in columns %}
                <option>{{ row }}</option>
            {% endfor %}
            <!--I add in Turnovers and Personal Fouls only now because these are negatives so they are only fitting with a < operator-->
            <!--next to them-->
            <option> Turnovers </option>
            <option> Personal Fouls </option>
        </select>
        <br> <br>
        <select id="comparator1">
            <option> > </option>
            <option> < </option>
            <option> = </option>
        </select>
        <br> <br>
        <input type="text" id="number1" placeholder="Number">
        <br> <br>
    </div>

    <div class="format-text">
        <!--A checkbox for a second condition-->
        <input type="checkbox" id="checkbox2"> Condition 2
        <h2>Where...</h2>
        <select id="condition2">
            <option value="" selected="selected" disabled> Select a Statistic </option>
            {% for row in columns %}
                <option>{{ row }}</option>
            {% endfor %}
            <option> Turnovers </option>
            <option> Personal Fouls </option>
        </select>
        <br> <br>
        <select id="comparator2">
            <option> > </option>
            <option> < </option>
            <option> = </option>
        </select>
        <br> <br>
        <input type="text" id="number2" placeholder="Number">
        <br> <br>
    </div>

    <div class="format-text">
        <input type="checkbox" id="checkbox3"> Condition 3
        <br>
        <h2>Where...</h2>
        <select id="condition3">
            <option value="" selected="selected" disabled> Select a Statistic </option>
            {% for row in columns %}
                <option>{{ row }}</option>
            {% endfor %}
            <option> Turnovers </option>
            <option> Personal Fouls </option>
        </select>
        <br> <br>
        <select id="comparator3">
            <option> > </option>
            <option> < </option>
            <option> = </option>
        </select>
        <br> <br>
        <input type="text" id="number3" placeholder="Number">
        <br> <br>
    </div>

    <button class="btn btn-primary"  onclick="optionPage()">
        Go!
    </button>

    <script>
    // Allows user to submit their input by hitting enter
    number1.addEventListener("keydown", function(e) {
    if (e.keyCode === 13) {
        optionPage();
        }
    });
    number2.addEventListener("keydown", function(e) {
    if (e.keyCode === 13) {
        optionPage();
        }
    });
    number3.addEventListener("keydown", function(e) {
    if (e.keyCode === 13) {
        optionPage();
        }
    });
    // The main function that gets called when Go! is pressed
    function optionPage() {
        var checkbox1 = document.getElementById("checkbox1");
        var checkbox2 = document.getElementById("checkbox2");
        var checkbox3 = document.getElementById("checkbox3");
        //The page eventually submitted will be url
        var url = "/"+ document.querySelector('#stat').value.replace("+/-", "Box Plus Minus").replace("%","Percentage");
        //These if statements make sure values are entered for statistics and numbers
        if (document.querySelector('#stat').value == "") {
            alert("Please Enter the First Statistic");
            return false;
        }
        if ((checkbox1.checked)) {
            if (document.querySelector('#number1').value.length < 1) {
                alert("Please Enter the First Number");
                return false;
            }
            else if (document.querySelector('#condition1').value == "") {
                alert("Please Enter the First Conditional Statistic");
                return false;
            }
            else {
                // adds on the inputs in the first check box, separated by tildas as the python code will then split them by tildas
                url = url +
                "~" + document.querySelector('#condition1').value.replace("+/-", "Box Plus Minus").replace("%","Percentage") +
                 "~" + document.querySelector('#comparator1').value.replace(">","greater_than").replace("<","less_than") +
                 "~" + document.querySelector('#number1').value;
                }
        }
        if ((checkbox2.checked)) {
            if (document.querySelector('#number2').value.length < 1) {
                alert("Please Enter the Second Number");
                return false;
            }
            else if (document.querySelector('#condition2').value == "") {
                alert("Please Enter the Second Conditional Statistic");
                return false;
            }
            else {
            url = url +
            "~" + document.querySelector('#condition2').value.replace("+/-", "Box Plus Minus").replace("%","Percentage") +
             "~" + document.querySelector('#comparator2').value.replace(">","greater_than").replace("<","less_than") +
             "~" + document.querySelector('#number2').value;
            }
        }
        if ((checkbox3.checked)) {
            if (document.querySelector('#number3').value.length < 1) {
                alert("Please Enter the Third Number");
                return false;
            }
            else if (document.querySelector('#condition3').value == "") {
                alert("Please Enter the Third Conditional Statistic");
                return false;
            }
            else {
                url = url +
                "~" + document.querySelector('#condition3').value.replace("+/-", "Box Plus Minus").replace("%","Percentage") +
                 "~" + document.querySelector('#comparator3').value.replace(">","greater_than").replace("<","less_than") +
                 "~" + document.querySelector('#number3').value;
            }
        }
        //Goes the url given by the variable url, which then triggers my page function with the url as input
        window.location.href = url;

}
    </script>
{% endblock %}